.layout {
    padding: 2rem;
}   

.layout__header {
    padding: 3rem 1rem;
}

.layout__main {
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.layout__footer {
    padding: 1rem;
    border-top: 1px solid #333;
}

.navbar {
    background-color: rgba(255, 255, 255, .4);
    backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4rem;
    transition: 350ms cubic-bezier(0.65, 0, 0.35, 1);
  }
  
  .navbar.scrolled {
    background-color: rgba(0, 0, 0, .4);
  }
  
  .navbar.scrolled .nav-link, .navbar.scrolled #brand {
    color: #f1f1f1;
  }
  
  .nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
  }
  
  .nav-link, #brand {
    
    color: #111;
    font-size: 1.25rem;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    transition: 350ms cubic-bezier(0.65, 0, 0.35, 1);
  }