section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2rem;
  margin: 0px;
}

p {
  width: 70%;
  font-size: 1.5rem;
}

li {
  text-decoration: none;
  list-style: none;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

thead {
  background-color: #ffffff;
}

th {
  text-align: left;
  padding: 0.5rem;
}

tbody td {
  border: 1px solid #ffffff;
  padding: 0.5rem;
}

a {
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: #bebebe;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.page-link {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

.page-link.active {
  background-color: #ccc;
  color: white;
}

.page-link:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#thrd{
  background-color: rgb(130, 255, 130);
}
#thrd:hover{
  background-color:rgb(0, 255, 0));
}
